In [1]:
# Ashley Mersman - Bonus for Module 4

# Optional Task 5 (Bonus).
1. Raw data is rarely ready for use.
2. Data preparation can be about 75% (or more) of our work.
3. Work through Ch 8.13 to get an idea of wrangling (cleaning & transforming) data.
4. On your machine, in your repo, create an additional notebook named xtra_p4.ipynb.
5. Start by creating the list of contacts in "Reformatting your Data" on page 310.
6. Create a DataFrame. 
7. The phone numbers are not formatted.
9. Follow the text to create a function that uses regular expressions (usually abbreviated regex or re) to create a function to get a formatted version of the unformatted phone number. 
10. Use map() and your function to improve the DataFrame 
11. Verify phone numbers now appear with two dashes (e.g., 555-555-5555). 
12. Prepare your notebook with a nice header (include a title, your name, and date)
13. Clearly label your steps and result. 
14. Execute the entire notebook, export it to xtra_p4.html.
15. Commit and push both files into your GitHub repo.

In [3]:
#import
import numpy as np 
import pandas as pd

In [5]:
#Contacts from pg 310
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
            ['Sue Green', 'demo1@deitel.com', '5555551234']]

In [8]:
#convert contacts to DataFrame with sepcified column names
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])

In [11]:
# format function for phone numbers
import re

def format_phone(value):
    format = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(format.groups()) if format else value

# Format phone numbers
formatted_phone = contactsdf.Phone.map(format_phone)
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [13]:
#convert phone in DataFrame to formatted phone
contactsdf.Phone = formatted_phone
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Green  demo1@deitel.com  555-555-1234